<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List a property</title>

  </head>
  <body>
    <form action="properties" method="post">
      <input type="text" name="property[name]" placeholder="Enter a name">
      <input type="text" name="property[desc]" placeholder="Enter a description">
      <input type="text" name="property[price]" placeholder="Enter a price">
      <input type="submit" value="List property">
    </form>
    <!-- <script type="text/javascript" src="app.js">

    </script> -->
  </body>
</html>
