<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Request received</title>

  </head>
  <body>
    <p><%= request.name %> is only available between <%= request.propFrom %> and <%= request.propUntil %></p>
  </body>
</html>
